<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://nuget.pkg.github.com/richardkeller411/index.json"/>
      <packageSources> 
 
         <add key="github" value="https://nuget.pkg.github.com/richardkeller411/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
 
      </packageSources>
        <packageSourceCredentials>
          <github>
            <add key="Username" value="MY_GITHUB_TOKEN" />
            <add key="ClearTextPassword" value="MY_GITHUB_USERNAME" />
          </github>
        </packageSourceCredentials>
    </config>
    <!-- 
    add a Nuget.config file at ~/.nuget/NuGet/NuGet.Config with the following information -->
   
   
</configuration>
